@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/main.css" />
</head>

<body>

	<!-- Navigation -->
	@{
		var selection = Umbraco.ContentAtRoot().FirstOrDefault()
		.Children()
		.Where(x => x.IsVisible());
	}

	<div class="container">
		<nav class="navbar navbar-expand navbar-light">
			<a class="navbar-brand font-weight-bold" href="/"></a>
			<!-- Links -->
			<ul class="navbar-nav">
				@foreach (var item in selection)
				{
					<li class="nav-item">
						<a href="@item.Url()" class="nav-link">@item.Name()</a>
					</li>
				}
			</ul>
		</nav>
	</div>

	@RenderBody()

	<!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>
</html>