@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;

    var headerNode = Umbraco.ContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == Shared.ModelTypeAlias)!.FirstChildOfType(Header.ModelTypeAlias);
    var footerNode = Umbraco.ContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == Shared.ModelTypeAlias)!.FirstChildOfType(Footer.ModelTypeAlias);

    var pageUrl = Model.Url();
    // var footerNode = Umbraco.ContentAtRoot().ChildrenOfType(Shared.ModelTypeAlias).FirstOrDefault(x => x.ContentType.Alias == Footer.ModelTypeAlias);
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    @* 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">*@

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

@*     <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">*@
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body>
    @* <h1>@Model.Url()</h1> *@
    @await Html.PartialAsync("Shared/Header", headerNode, new ViewDataDictionary(ViewData) { { "pageUrl", pageUrl } })

    <div class="container">
        @RenderBody()
    </div>

    @await Html.PartialAsync("Shared/Footer", footerNode)

    <!-- Scripts -->
    @* <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> *@
    @* <script src="~/js/site.js"></script> *@
</body>
</html>