@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockListItem>
@{
    var content = Model.Content;

    var title = content.Value("title");
    var description = content.Value("description");
    var image = content.Value<MediaWithCrops>("image");
    var buttonLink = content.Value<IEnumerable<Link>>("link")?.FirstOrDefault();
}

<div class="media-block">
    <div class="container">
        <div class="text">
            <h2>@title</h2>
            @description
            @if(buttonLink != null)
            {
                <a href="@buttonLink!.Url">@buttonLink.Name</a>
            }
        </div>
        <div class="image">
            @if(image != null)
            {
                <img src="@image!.Url()" alt="@image!.Name" style="max-width:200px;" />
            }
        </div>
    </div>
</div>